// Specific CSS for your home-page
.banner {
/* \ */
  background-image: url('https://media.istockphoto.com/photos/sound-wave-picture-id1287065554');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 80vh;
}
