<div class="forgot_password_container">
  <div class="forgot_password_container_box">
    <h2 id="forgot_password_h2">Forgot your password?</h2>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Send me reset password instructions", class: "btn_reset_password_instruction" %>
      </div>
    <% end %>
  </div>
</div>
