<div class="banner"
>
  <h1 class="display-4">Are you looking for musicians to improve your place atmosphere</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href='offers' role="button">Learn more</a>
  </p>
</div>

<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1605020420620-20c943cc4669?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8Z3VpdGFyfGVufDB8fDB8fA%3D%3D&w=1000&q=80" alt="Card image guitare">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://cap.img.pmdstatic.net/fit/http.3A.2F.2Fprd2-bone-image.2Es3-website-eu-west-1.2Eamazonaws.2Ecom.2Fcap.2F2020.2F09.2F07.2F01b21a7c-991f-4eaf-91ad-35e63bc95328.2Ejpeg/1200x630/background-color/ffffff/focus-point/1084%2C890/quality/70/cr/wqkgIEhpbnRlcmhhdXMgUHJvZHVjdGlvbnMgLSBHZXR0eSBJbWFnZXMgLyBDQVBJVEFM/comment-ouvrir-un-bar-1379735.jpg" alt="Card image bar">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
  </div>
</div>
